{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock %}
{% block content %}
<div class="password-wrapper">
  <div class="password-card">
    <h2>Change Password</h2>
    <form method="post" class="password-form">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="error-message">{{ field.errors|striptags }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Update Password</button>
    </form>
  </div>
</div>
{% endblock %}

